<div class="container">
  <div class="page-header">
    <h2>Add New Teacher</h2>
  </div>
  <button class="btn btn-primary">Add new</button>
  <table class="table table-bordered table-responsive table-hover" style="margin-top: 10px;">
    <thead>
    <tr>
      <th>Teacher_id</th>
      <th>Username</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Lahiru Sampath</td>
      <td>
        <button class="btn btn-success" (click)="goToInvoice()">View</button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Yasiru Randeepa</td>
      <td>
        <button class="btn btn-success" (click)="goToInvoice()">View</button>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Yasiru janith</td>
      <td>
        <button class="btn btn-success" (click)="goToInvoice()">View</button>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Ashan Kooragoda</td>
      <td>
        <button class="btn btn-success" (click)="goToInvoice()">View</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
