<div class="container-fluid">
  <button class="btn btn-success col-sm-2">Add New Subjects</button>
  <div class="col-sm-8">
    <div class="col-sm-2" style="text-align: right">
      <b>Teacher details</b>
    </div>
    <br>

    <div class="col-sm-2" style="text-align: right">
      <span>Teacher ID :</span>
    </div>
    <div class="col-sm-9  user_detail">
      <b>150000T</b>
    </div>
    <br>
    <div class="col-sm-2  user_detail" style="text-align: right">
      <span>Username :</span>
    </div>
    <div class="col-sm-9  user_detail">
      <b>Lahiru Sampath</b>
    </div>
    <br>
    <div class="col-sm-2  user_detail" style="text-align: right">
      <span>Name :</span>
    </div>
    <div class="col-sm-9  user_detail">
      <b>Lahiru Sampath Vithanage</b>
    </div>
    <br>
    <div class="col-sm-2  user_detail" style="text-align: right">
      <span>Contact :</span>
    </div>
    <div class="col-sm-9  user_detail">
      <b>+94719360004</b>
    </div>
    <br>
    <div class="col-sm-2  user_detail" style="text-align: right">
      <span>Subjects :</span>
    </div>
    <div class="col-sm-9  user_detail">
      <b>Eastern, Western</b>
    </div>
    <br><br>
    <button class="btn btn-primary col-md-offset-2">Edit details</button>
  </div>

</div>


